# Terragrunt
.terragrunt-cache/

# Terraform (por si se corre terraform desde el directorio del modulo)
.terraform/
.terraform.lock.hcl
*.tfstate
*.tfstate.*
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
